$surface-1: #1e1e1e;
$surface-2: #242424;
$surface-3: #2c2c2c;
$surface-4: #353535;

$text-primary: #d9d9d9;
$text-secondary: #989899;
$text-tertirary: #5a5a5e;

$text-hovered: #ffffff;

$br-1: 2rem;
$br-2: 2.5rem;
$br-3: 3rem;
$br-4: 3.5rem;
$br-5: 4rem;
$br-6: 5rem;
