$surface-1: #1E1E1E;
$surface-2: #242424;
$surface-3: #2C2C2C;

$text-primary: #D9D9D9;
$text-secondary: #989899;
$text-tertirary: #5A5A5E;

$br-1: 2rem;
$br-2: 2.5rem;
$br-3: 3rem;
$br-4: 3.5rem;
$br-5: 4rem;
$br-6: 5rem;
