.anime-stream {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  margin-bottom: 10rem;

  iframe {
    border-radius: $br-6;
    aspect-ratio: 16/9;
  }

  .upcoming-status {
    border-radius: $br-3;
    overflow: hidden;
    
    h3 {
      padding: 3rem 0;
      background-color: $surface-2;
      text-align: center;
      margin: 0;
    }
  }
}
