.anime-gallery {
  margin-bottom: 15rem;
}

.anime-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, min-content));
  gap: 4rem;

  justify-content: space-between;
}

.anime-tile {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  &__image {
    width: 25rem;
    height: 25rem;

    border-radius: $br-3;
  }

  &__name {
    font-size: 2rem;
    font-weight: 600;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .anime-overlay-details {
    display: none;
  }

  &:hover > .anime-overlay-details {
    display: flex;
  }
}
