.anime-gallery {
  margin-bottom: 15rem;
}

.anime-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, min-content));
  gap: 4rem;

  justify-content: space-between;
}

.anime-tile {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  &__img-p-overlay {
    position: relative;
    border-radius: $br-3;

    overflow: hidden;
  }

  &__image {
    width: 25rem;
    height: 25rem;
  }

  &__hover-overlay {
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;

    background-color: rgba(#000, 0.4);

    transition: all 0.4s ease-out;

    img {
      scale: 0;
      transition: all 0.3s ease-out;
    }
  }

  &__name {
    font-size: 2rem;
    font-weight: 600;

    text-align: center;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    transition: all 0.4s;
  }

  &:hover > &__name {
    color: $text-hovered;
  }

  &:hover > .anime-overlay-details {
    width: 65rem;
    height: auto;
    overflow: auto;
    opacity: 1;
  }

  &:hover .anime-tile__hover-overlay {
    opacity: 1;

    img {
      scale: 1;
    }
  }
}
