.btn {
  font-family: inherit;
  
  color: $text-primary;
  background-color: $surface-3;
  border: none;
  cursor: pointer;

  &--watch {
    padding: 0.5rem;
    padding-right: 2rem;

    border-radius: $br-2;

    &:hover {
      background-color: $surface-4;
    }
  }

  &--genre {
    font-size: 2rem;
    font-weight: 600;

    padding: 1.5rem 2.5rem;
    border-radius: $br-1;

    &:hover {
      background-color: $surface-4;
    }
  }

  &--sm {
    font-size: 2.4rem;
    font-weight: 500;

    padding: 1.5rem 0;
    border-radius: $br-1;

    width: 100%;

    &:hover {
      background-color: $surface-4;
    }
  }

  &--lg {
    padding: 2.2rem;
    border-radius: $br-2;
    background-color: $surface-4;
  }

  &--trans {
    background-color: transparent;

    &:hover {
      filter: invert(20%);
    }
  }

  img {
    width: 7rem;
    height: 7rem;
  }
}
