.btn {
    color: $text-primary;
    background-color: $surface-3;
    border: none;
    cursor: pointer;
  
    &--sm {
      font-size: 2.4rem;
      font-weight: 500;
      padding: 1.5rem 2.5rem;
      border-radius: $br-1;
    }
  }
  