.keypad {
  display: grid;
  grid-template-columns: repeat(13, minmax(0, 1fr));
  gap: 1rem;

  padding: 1rem;
  background-color: $surface-2;
  border-radius: $br-2;

  grid-column: 1 / span 8;

  &.alphanumeric {
    & > :first-child {
      grid-column: 1 / span 2;
    }
  }
}

.alphanumeric-search {
  font-size: 2rem;
  font-weight: 600;

  & > div {
    margin-bottom: 3rem;
  }
}
