.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  margin-bottom: 5rem;

  font-size: 2rem;
  font-weight: 300;

  &__default-links {
    display: flex;
    gap: 3rem;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &--primary {
      font-family: "Unbounded", cursive;
      font-size: 4rem;
      font-weight: 700;
    }

    &--secondary {
      font-family: "Syncopate", cursive;
      font-size: 2.4rem;
    }
  }

  &__search-p-user {
    display: flex;
    align-items: center;
    gap: 3rem;

    flex-basis: 26.5%;

    .search-form {
      flex-basis: 100%;
      position: relative;

      input[type="text"]:not(:focus) ~ .anime-list--search:not(:hover) {
        display: none;
      }

      .search-icon {
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%);
      }
    }
  }
}

.background-blur {
  position: absolute;
  top: 100%;
  z-index: 15;

  width: 100%;
  height: 100vh;

  background-color: rgba($surface-1, 0.8);
}
