@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  object-fit: cover; }

html {
  font-size: 45%; }

body {
  background-color: #1e1e1e;
  font-family: "Quicksand", sans-serif;
  color: #d9d9d9; }

.App {
  max-width: 170rem;
  margin: 3rem auto 10rem auto;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 0 4rem;
  grid-auto-flow: column; }

.nav,
.hero {
  grid-column: 1/-1; }

.main-content {
  grid-column: 1 / span 8; }

.sidebar {
  grid-column: 9/-1;
  margin-left: 5rem; }

a,
a:hover,
a:visited,
a:link {
  color: #d9d9d9;
  text-decoration: none; }

::-webkit-scrollbar {
  width: 1rem; }

/* Track */
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: #5a5a5e; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

h2,
h3,
h4,
h5,
h6 {
  font-family: "Unbounded", cursive; }

h2 {
  font-size: 3.2rem;
  font-weight: 700; }

h3 {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 4rem; }

h4 {
  font-size: 2.4rem;
  font-weight: 700; }

h5 {
  font-size: 2.4rem;
  font-weight: 500; }

h6 {
  font-size: 2rem;
  font-weight: 500; }

.active {
  font-weight: 700; }

.hidden {
  display: none; }

.activity-path {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  font-weight: 300; }
  .activity-path :last-child {
    font-weight: 600; }
  .activity-path img {
    width: 3rem;
    height: 3rem; }

.anime-details {
  display: flex;
  gap: 3rem;
  padding: 3rem 5rem 5rem 3rem;
  background-color: #242424;
  border-radius: 5rem;
  grid-column: 1 / span 8;
  font-size: 2rem;
  font-weight: 300; }
  .anime-details__img-p-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem; }
  .anime-details__rating {
    padding: 2rem 2.5rem;
    background-color: #2c2c2c;
    border-radius: 2rem; }
  .anime-details img {
    width: 22rem;
    height: 22rem;
    border-radius: 4rem; }
  .anime-details__info {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex-basis: 100%; }
    .anime-details__info__meta {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, max-content));
      gap: 3rem;
      margin-top: 2rem;
      padding-right: 3rem;
      justify-content: space-between; }
      .anime-details__info__meta .meta-type {
        font-weight: 600;
        margin-bottom: 0.5rem; }

.anime-overlay-details {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 105%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 65rem;
  padding: 3rem;
  background-color: #2c2c2c;
  border-radius: 3rem;
  font-size: 2rem;
  font-weight: 300; }
  .anime-overlay-details__synopsis {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .anime-overlay-details__meta {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1rem 6rem; }
    .anime-overlay-details__meta .meta-type {
      font-weight: 600;
      margin-bottom: 0.5rem; }
  .anime-overlay-details button {
    margin-top: 1.5rem; }

.anime-gallery {
  margin-bottom: 15rem; }

.anime-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, min-content));
  gap: 4rem;
  justify-content: space-between; }

.anime-tile {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center; }
  .anime-tile__image {
    width: 25rem;
    height: 25rem;
    border-radius: 3rem; }
  .anime-tile__name {
    font-size: 2rem;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .anime-tile .anime-overlay-details {
    display: none; }
  .anime-tile:hover > .anime-overlay-details {
    display: flex; }

.anime-list {
  display: flex;
  flex-direction: column;
  overflow: hidden; }
  .anime-list--compact {
    gap: 4rem; }
  .anime-list--broad {
    gap: 1.5rem; }
    .anime-list--broad .anime-postcard {
      background-color: #242424;
      border-radius: 3.5rem;
      padding: 1.2rem; }
  .anime-list--search {
    width: 100%;
    padding: 2rem 3rem 2rem 2rem;
    gap: 2rem;
    background-color: #2c2c2c;
    border-radius: 2rem;
    position: absolute;
    top: 117%;
    z-index: 20;
    max-height: 36rem;
    overflow: auto; }

.anime-postcard {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 0 2rem; }
  .anime-postcard__image {
    width: 9.3rem;
    height: 9.3rem;
    border-radius: 3rem;
    grid-row: 1/3; }
  .anime-postcard__name {
    font-size: 2rem;
    font-weight: 600; }
  .anime-postcard__viewers {
    align-self: start;
    display: flex;
    gap: 10px;
    align-items: center; }
    .anime-postcard__viewers--count {
      font-size: 1.6rem;
      font-weight: 300; }

.search .anime-postcard__image {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 2rem;
  grid-row: 1/3; }

.search .anime-postcard__name {
  font-size: 1.8rem;
  font-weight: 600;
  align-self: end;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.search .anime-postcard__viewers {
  margin-top: 0.5rem; }

.anime-stream {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 10rem; }
  .anime-stream iframe {
    border-radius: 5rem;
    aspect-ratio: 16/9; }

.btn {
  color: #d9d9d9;
  background-color: #2c2c2c;
  border: none;
  cursor: pointer; }
  .btn--watch {
    padding: 0.5rem;
    padding-right: 2rem;
    border-radius: 2.5rem; }
  .btn--sm {
    font-size: 2.4rem;
    font-weight: 500;
    padding: 1.5rem 2.5rem;
    border-radius: 2rem;
    width: 100%; }
    .btn--sm:hover {
      background-color: #353535; }
  .btn--lg {
    padding: 2.2rem;
    border-radius: 2.5rem;
    background-color: #353535; }
  .btn--trans {
    background-color: transparent; }
  .btn img {
    width: 7rem;
    height: 7rem; }

.featured-anime {
  position: relative;
  margin-bottom: 6rem; }
  .featured-anime__image {
    height: 60rem;
    border-radius: 5rem;
    width: 60%; }
  .featured-anime .anime-details {
    padding: 5rem;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    height: 60rem; }
    .featured-anime .anime-details .btn--watch {
      display: flex;
      align-items: center;
      gap: 1rem; }
    .featured-anime .anime-details__cta {
      display: flex;
      justify-content: space-between;
      margin-top: auto; }
      .featured-anime .anime-details__cta .prev-p-next {
        display: flex;
        gap: 2rem; }

.footer {
  padding: 5.5rem 0;
  background-color: #242424; }
  .footer__content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 170rem;
    margin: 0 auto; }
  .footer .socials {
    display: flex;
    gap: 2rem; }
    .footer .socials img {
      width: 4rem;
      height: 4rem; }

.keypad {
  display: grid;
  grid-template-columns: repeat(13, minmax(0, 1fr));
  gap: 1rem;
  padding: 1rem;
  background-color: #242424;
  border-radius: 2.5rem; }
  .keypad a.active-button {
    filter: invert(100%); }
  .keypad.alphanumeric > :first-child {
    grid-column: 1 / span 2; }

.alphanumeric-search {
  font-size: 2rem;
  font-weight: 600; }
  .alphanumeric-search > div {
    margin-bottom: 3rem; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 5rem;
  font-size: 2rem;
  font-weight: 300; }
  .navbar__default-links {
    display: flex;
    gap: 3rem; }
  .navbar__logo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; }
    .navbar__logo--primary {
      font-family: "Unbounded", cursive;
      font-size: 4rem;
      font-weight: 700; }
    .navbar__logo--secondary {
      font-family: "Syncopate", cursive;
      font-size: 2.4rem; }
  .navbar__search-p-user {
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-basis: 26.5%; }
    .navbar__search-p-user .search-form {
      flex-basis: 100%;
      position: relative; }
      .navbar__search-p-user .search-form input[type="text"]:not(:focus) ~ .anime-list--search:not(:hover) {
        display: none; }
      .navbar__search-p-user .search-form input {
        font-family: "Quicksand", sans-serif;
        font-size: 2rem;
        padding: 2rem 2.5rem;
        color: #d9d9d9;
        background-color: #242424;
        border-radius: 2rem;
        border: none;
        width: 100%; }
        .navbar__search-p-user .search-form input:focus {
          outline: none; }
      .navbar__search-p-user .search-form .search-icon {
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%); }

.background-blur {
  position: absolute;
  top: 100%;
  z-index: 15;
  width: 100%;
  height: 100vh;
  background-color: rgba(30, 30, 30, 0.8); }
