@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  object-fit: cover; }

html {
  font-size: 45%; }

body {
  background-color: #1E1E1E;
  font-family: "Quicksand", sans-serif;
  color: #D9D9D9; }

.App {
  max-width: 170rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 4rem; }

.alphanumeric-search {
  display: grid;
  grid-template-columns: repeat(13, minmax(0, 1fr));
  gap: 1rem;
  padding: 1rem;
  background-color: #242424;
  border-radius: 2.5rem;
  grid-column: 1 / span 8; }
  .alphanumeric-search > :first-child {
    grid-column: 1 / span 2; }

.anime-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, min-content));
  gap: 4rem;
  justify-content: space-between;
  grid-column: 1 / span 8; }

.anime-tile {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center; }
  .anime-tile__image {
    width: 25rem;
    height: 25rem;
    border-radius: 2.5rem; }
  .anime-tile__name {
    font-size: 2rem;
    font-weight: 600; }

.btn {
  color: #D9D9D9;
  background-color: #2C2C2C;
  border: none;
  cursor: pointer; }
  .btn--sm {
    font-size: 2.4rem;
    font-weight: 500;
    padding: 1.5rem 2.5rem;
    border-radius: 2rem; }
