@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  object-fit: cover; }

html {
  font-size: 45%; }

body {
  background-color: #1E1E1E;
  font-family: "Quicksand", sans-serif;
  color: #D9D9D9; }

.App {
  max-width: 170rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 4rem; }

h2,
h3,
h5 {
  font-family: "Unbounded", cursive; }

h2 {
  font-size: 3.2rem;
  font-weight: 700; }

h3 {
  font-size: 2.4rem;
  font-weight: 500; }

h5 {
  font-size: 2rem;
  font-weight: 500; }

.alphanumeric-search {
  display: grid;
  grid-template-columns: repeat(13, minmax(0, 1fr));
  gap: 1rem;
  padding: 1rem;
  background-color: #242424;
  border-radius: 2.5rem;
  grid-column: 1 / span 8; }
  .alphanumeric-search > :first-child {
    grid-column: 1 / span 2; }

.anime-details {
  display: flex;
  gap: 3rem;
  padding: 3rem 5rem 5rem 3rem;
  background-color: #242424;
  border-radius: 5rem;
  grid-column: 1 / span 8;
  font-size: 2rem;
  font-weight: 300; }
  .anime-details__img-p-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem; }
  .anime-details__rating {
    padding: 2rem 2.5rem;
    background-color: #2C2C2C;
    border-radius: 2rem; }
  .anime-details img {
    width: 22rem;
    height: 22rem;
    border-radius: 4rem; }
  .anime-details__info {
    display: flex;
    flex-direction: column;
    gap: 3rem; }
    .anime-details__info__meta {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, max-content));
      gap: 3rem;
      margin-top: 2rem;
      padding-right: 3rem;
      justify-content: space-between; }
      .anime-details__info__meta .meta-type {
        font-weight: 600;
        margin-bottom: 0.5rem; }

.anime-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, min-content));
  gap: 4rem;
  justify-content: space-between;
  grid-column: 1 / span 8; }

.anime-tile {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center; }
  .anime-tile__image {
    width: 25rem;
    height: 25rem;
    border-radius: 3rem; }
  .anime-tile__name {
    font-size: 2rem;
    font-weight: 600; }

.anime-list {
  grid-column: 9 / -1;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-left: 4.5rem; }

.anime-postcard {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 0 2rem; }
  .anime-postcard__image {
    width: 9.3rem;
    height: 9.3rem;
    border-radius: 3rem;
    grid-row: 1/3; }
  .anime-postcard__name {
    font-size: 2rem;
    font-weight: 600; }
  .anime-postcard__viewers {
    align-self: start;
    display: flex;
    gap: 10px;
    align-items: center; }
    .anime-postcard__viewers--count {
      font-size: 1.6rem;
      font-weight: 300; }

.btn {
  color: #D9D9D9;
  background-color: #2C2C2C;
  border: none;
  cursor: pointer; }
  .btn--watch {
    padding: 0.5rem;
    padding-right: 2rem;
    border-radius: 2.5rem; }
  .btn--sm {
    font-size: 2.4rem;
    font-weight: 500;
    padding: 1.5rem 2.5rem;
    border-radius: 2rem; }
  .btn--trans {
    background-color: transparent; }
  .btn img {
    width: 7rem;
    height: 7rem; }

.featured-anime {
  grid-column: 1 / -1;
  position: relative; }
  .featured-anime__image {
    height: 60rem;
    border-radius: 5rem;
    width: 60%; }
  .featured-anime .anime-details {
    padding: 5rem;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    height: 60rem; }
    .featured-anime .anime-details .btn--watch {
      display: flex;
      align-items: center;
      gap: 1rem; }
    .featured-anime .anime-details__cta {
      display: flex;
      justify-content: space-between;
      margin-top: auto; }
      .featured-anime .anime-details__cta .prev-p-next {
        display: flex;
        gap: 2rem; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  font-weight: 300;
  grid-column: 1/-1; }
  .navbar__default-links {
    display: flex;
    gap: 3rem; }
  .navbar__logo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; }
    .navbar__logo--primary {
      font-family: "Unbounded", cursive;
      font-size: 4rem;
      font-weight: 700; }
    .navbar__logo--secondary {
      font-family: "Syncopate", cursive;
      font-size: 2.4rem; }
  .navbar__search-p-user {
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-basis: 27%; }
    .navbar__search-p-user form {
      flex-basis: 100%;
      position: relative; }
      .navbar__search-p-user form input {
        font-family: "Quicksand", sans-serif;
        font-size: 2rem;
        padding: 2rem 2.5rem;
        color: #D9D9D9;
        background-color: #242424;
        border-radius: 2rem;
        border: none;
        width: 100%; }
        .navbar__search-p-user form input:focus {
          outline: none; }
      .navbar__search-p-user form .search-icon {
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%); }
